[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd
After=network.target
 
[Service]
User=etcd
Type=notify
ExecStart={{ etcd_bin_dir }}/etcd --config-file {{ etcd_conf_file }}
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
