[Unit]
Description=flanneld
After=basic.target network.target
 
{% set etcd_cluster = [] %}
{% for cluster_host in etcd_initial_cluster_hosts %}
{% set _ = etcd_cluster.append('http://' + cluster_host + ':2379') %}
{% endfor %}

[Service]
Type=simple
ExecStart={{ flannel_bin_dir }}/flanneld \
  -etcd-endpoints={{ etcd_cluster | join(',')}} \
  -subnet-file={{ flannel_subnet_file }} \
  -iface={{ flannel_iface }}
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
