[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-{{ kube_common_conf_path }}
User=kube
ExecStart={{ kube_bin_dir }}/kube-controller-manager \
  $KUBE_LOGTOSTDERR \
  $KUBE_LOG_LEVEL \
  $KUBE_MASTER \
  --service-account-private-key-file={{ kube_cert_dir }}/server.key
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
